*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
}

.game_title{
	height: 10vw;
	padding: 0;
	margin: 0;
	border: 0;
}

.answer{
	display: inline-block;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	margin: 5px;
}

.finalAnswer{
	display: inline-block;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	margin: 5px;
}

.button{
	display: inline-block;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	margin-bottom: 7px;
}

.btn{
	margin-bottom: 20px;
}

#red{
	background-color: red;
}

#blue{
	background-color: blue;
}

#yellow{
	background-color: yellow;
}

#green{
	background-color: green;
}

#violet{
	background-color: violet;
}

#black{
	background-color: black;
}

.mainbody{
	min-height: 100%;
	height: 100%!important;
	/*position: absolute;*/
	/*background-blend-mode: multiply;*/
	background-image: url(https://chainimage.com/images/wallpaper-abstract-circles-patterns-dots-bokeh-color-light-abstraction.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-position: top;
	width: 100%;
	/*background-attachment: scroll;*/
	/*height: 100%;*/
	margin: 0;
	text-align: center;
}

.maincard{
	/*min-height: 100%;*/
	/*position: absolute;*/
	background-color: white;
	opacity: 0.9;
	width: 80%;
	margin: auto;
	padding: 10px;
	align-items: center;
	align-content: center;
	vertical-align: middle;
	/*height: 100%!important;*/
	/*box-shadow: 5px 5px 5px 5px grey;*/
	/*height: 1300px;*/
}

.chancesBox{
	border: 2px solid blue;
	/*margin-top: 150px;*/
	/*height: 800px;*/
	width: 50%;
	margin: auto;
	text-align: center;
	margin-bottom: 10px;
}

